<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
    <meta name="author" content="Rui Mao">
    <meta name="description" content="Portfolio">
    <meta name="keywords" content="palavras chave">
    <script src="https://kit.fontawesome.com/646b5e7836.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap" rel="stylesheet">
    <title>RUI MAO</title>
    {% load static %}
    <link rel="icon" href="{% static 'portfolio/images/RM.ico' %}" type="image/x-icon" sizes="196x196"/>
</head>

<style>

</style>

<body>


    {% block index %}
    {% endblock index %}



</body>

